body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    padding: 16px;
    color: black;
    border-radius: 25px;
    border: 2px solid black;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}